<div style="display: flex">
    <div *ngFor="let c of cards">
        <a [href]="c.purchase_uris.cardmarket" target="_blank">
            <img [src]="c.image_uris?.small">
            <ng-container *ngFor="let cf of c.card_faces">
                <img [src]="cf.image_uris.small">
            </ng-container>
        </a>
        <div class="under-card">
            <a [href]="c.scryfall_uri" target="_blank">
                <div>Scryfall</div>
            </a>
            <div>{{c.prices.eur}}</div>
        </div>
    </div>
</div>
